/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


.scoreboard {
	border: solid 1px black;
	color: black;
	padding: 10px;
	background-color: yellow;
	width: 200px;
	float: left;
}
.gameboard {
	float: left;
}
