/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


.scoreboard {
	border: solid 1px white;
	position: absolute;
	color: white;
	padding: 10px;
}
